/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{ /*áp cho mọi thẻ có chữ*/
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

.clear{
    clear: both; /* khắc phục thẻ ảnh dùng float, thẻ cha k ôm hết thẻ con*/
}
/*clear css*/
.top {
    margin-top: 0px;

}
.top .menu {
    position: fixed;
    display: inline;
    width: 100vw;
    height: 60px;
    background-color: black;
    margin-top: 0px;
    opacity: 0.4;
}

.top .menu img{
    width: 160px;
    line-height: 60px;
    padding: 10px;
}
.top .top-menu{
    background-color: rgb(131, 111, 111);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
}
.top .top-menu ul{
    /* float: right; */
    margin-right:100px ;
    
    
}
.menu .top-menu li{
    display: inline;
    line-height: 60px;
    
}
.top .top-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;    
    line-height: 60px;
    color: aliceblue;
    font-weight: bolder;
}
.top .top-menu li a:hover{
    opacity: 1;
    color: white;
    text-decoration: underline;
}
/*8888*/
 .top .top-background {
   
 }
 .top .top-background img{
     width: 100%;
 }



 .content {
     background-color: aqua;
     width: 100vw;
     height: 100vh;
 }
 .footer {
     background-color: rgb(144, 190, 16);
     width: 100vw;
     height: 100vh;
 }